/**Oskar**/
ul{ /** Här börjar css ändringen på listan(navigationsbaren) **/
    list-style-type: none; /**Att det ska inte vara pinkter på listan**/
    margin: 0; /*Maarginalet på listan*/
    padding: 0; /** Fyllnaden på kanterna av navbaren*/
    overflow: hidden; /** Att om det sulle vara en skrollning så är den gömd*/
    background-color: #333; /** Färgen på navbaren**/
    position:fixed;/** Det om ska skrolla ner så ska den följa med innehållet **/
    top: 0; 
    width: 100%; /* att navbaren ska ta breddem på hela sidan*/
    font-size: 30px; /* storlek på texten som är i navbaren*/
} 
li{
    float: left;  /* Det här är för att navbarens knappar ska vara eftervarandra till vänster */
   
}

li a {
    display: block; /*det för att bli kvadrat eller block för rubriken  */
    color: white; /*färgen på texten ska vara vit*/
    text-align: center; /*placeringen av texten kvadraten*/
    padding: 20px 25px; /*Hur mycket från kvadraten kanter */
    text-decoration: none; /* Den här funktionen är för att ta bort under streck eftersom varje hemsida räknas som har länk*/
    
}

li a:hover { /*det när man har musen över blocken*/
    background-color: #111; /*färgen när musen ärpå bblocken*/
}

.active {/* När man är på hemsidan så lyser den hemsidan man är på*/
    background-color: #4CAF50;
}
.oversta{ /*En klass i html för rubriken*/
   grid-column: 1/4; /*Det här funktionen för att dra över hela griden från koloumn 1 till 4 och då blir det som stor rubrik*/
   text-align: center;
   letter-spacing: 2px; /*Mellanrum på bokstäverna*/
   font-size: 200px; /*Stoleken ¨på texten */
}
.BackgroundB {
    background-image: url("Cyberpunk.jpg"); /*Det är en länk på bild */   
    background-position: top; /*Placeringen av bilden */
    background-attachment: fixed; /*För att föla med när man skrollar*/
    background-size: 100% 100%;  /*Bilden strolek ska vara över hela skärmen */
  }
   

.styckeB{
    font-size: 20pt;
    font-family: "georgia"; /*Textens stil*/
    Color: black; 
    opacity: 2.0; /*Hur mycket genomskinlig den ska vara*/
  
}

.wrapperB{
    display: grid;  /* Att det ska vara rutor*/
    grid-template-columns: 1fr 1fr; /*Hur den ska vara fördelad 1fr är en vanlig storlek i Grid*/
    grid-auto-columns: auto; /*Hur Rutorna ska placeras*/
    
}
.textB{
    grid-column: 1/4;
    background-color: rgba(133, 205, 233, 0.64);
    text-align: center;
    width: 100%;
    background-size: 100% 100%; 
    font-size:25px;
}

.RubrikB{
    grid-column: 1/4;
    text-align: center;
    font-size: 50px;
    background-color: rgba(133, 205, 233, 0.64);
}

/**Filip**/

  .wrapperC{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto); /*Hur mycket rutan ska vara minsta och om det blir mer så anpassar rutan sig efter texten*/
    grid-gap: 1em; /* Det mellan rummet mellan rutorna */
    background-color:rgba(115, 159, 173, 0.89);
  } 
.wrapperC > section:nth-child(odd){ /*Allt som ligger under wrapper ska varanan sektion har en egen färg eller zebra färg*/
       background:rgba(133, 205, 233, 0.64);
       padding:1em;
   }

.wrapperC > section{ /*Alla sektioner som ligger under wrapper ska ha de bestämda stilen*/
   background: #bbd0ff;/*Bakgrunds färg*/
   padding:1em; /*En av storlekar som används i Css*/
   font-size: 23px;
}
.rubrikC{
  margin-top: 50px;
}

.imgC{
  width: 45%;
  height: auto;
}

a{
  text-decoration: none;
  color: black;
}

h2{
font-size: 2em;
}

h3{
  font-size: 2em;
}

h4{
  font-size: 2em;
}

.rubriksecC{
  grid-column: 1/4;
  text-align: center;
  font-size: 50px;
  background-color: cornflowerblue;
}
body{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  }

  
/** -------------------------------- Emad begin ----------------------------------------------**/
.coolaspela{
   background-color:rgba(115, 159, 173, 0.89);
}
.wrappera > section{
   background: #bbd0ff;
   padding:1em;
   font-size: 23px;
}
.wrappera{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  grid-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
  
  
}
   .wrappera > section:nth-child(odd){
       background:rgba(133, 205, 233, 0.64);
       padding:1em;
   }

.content1{
    grid-column:1/2;
}


.imga
{
   width: 400px;
   height: 250px;

}
h1{
    font-size: 50px;
}

